@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'NanumSquareNeo';
    /* 수정 필요 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
}

.sec-wrap {
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
    padding: 60px 0;
    overflow: hidden;
}

.sec-title {
    font-size: 3.6rem;
    font-weight: 900;
    color: #B252BF;
    text-align: left;
    margin-bottom: 30px;

}

.sec-content h3 {
    font-size: 2rem;
    font-weight: 900;
}

.sec-content ul {
    margin-top: 6px;
}

.sec-content ul li {
    font-size: 1.4rem;
    line-height: 1.3;
}

.sec-content h4 {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 10px 0 4px 0;
    line-height: 1.2;
}

.sec-content p {
    font-size: 1.4rem;
    line-height: 1.2;
}

.divider {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background-color: #eee;
}

/* 모바일 퍼스트 */
.home {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(193,159,210,1) 10%, rgba(214,184,221,1) 100%);
    background-attachment: fixed;
    padding: 0 6%;
}

.home #textWrap {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15% 10%;
    word-break: keep-all;
    z-index: 200;
    text-align: left;
    background: #ffffff50;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    box-shadow: inset 0 16px 30px #ffffff86 ;
}

.home .title {
    font-size: 4.2rem;
    margin-bottom: 20px;
    white-space: nowrap;
    color: #000;
    font-weight: 900;
    overflow: hidden;
    animation: typingAnim 4s steps(50);
}
@keyframes typingAnim {
    from {width:0}
    to {width:100%}
  }
  
.home .sub-title {
    font-size: 2.6rem;
    color: #000;
    font-weight: 600;
    line-height: 1.2;
}

.home .intro-text {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #000;
    line-height: 1.6;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home img#starLeft {
    width: 10%;
    position: absolute;
    left: 5%;
    top: 20%;
    transform: translate(-5%, -20%);
}

.home img#starRight {
    width: 10%;
    position: absolute;
    right: 10%;
    top: 10%;
    transform: translate(-10%, -10%);
}

.home img#mainCharacter {
    width: 60%;
    left: 92%;
    bottom: 14%;
    transform: translate(-92%, -14%);
    z-index: 60;
}

.home img#cloudLeft {
    width: 30%;
    position: absolute;
    left: 0;
    bottom: 12%;
    transform: translate(0, -12%);
    z-index: 50;
}

.home img#cloudRight {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 12%;
    transform: translate(0, -12%);
    z-index: 50;
}

.home #scroll-wrap .scroll-mouse {
    width: 22px;
    position: absolute;
    left: 50%;
    bottom: 9%;
    transform: translate(-50%, -9%);
    z-index: 200;
}

.home #scroll-wrap p {
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -7%);
    z-index: 200;
}

.home #scroll-wrap .arrow-down {
    width: 16px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -4%);
    z-index: 200;
    animation: motion 0.4s linear 0s infinite alternate;
}

@keyframes motion {
    0% {bottom: 4%;}
    100% {bottom: 4.5%;}
}

.work-experience {
    padding-top: 80px;
}

.work-experience .sec-content .content-right .work {
    margin-bottom: 40px;
}

.work-experience .sec-content .content-right .work p {
    line-height: 1.4;
}

.work-experience .sec-content .content-right .work:last-child{
    margin-bottom: 60px;
}

.work-experience .sec-content:last-child .content-right .work {
    margin-bottom: 0;
}


.work-experience .sec-content .content-right .tech-stack {
    font-size: 1.2rem;
    margin: 18px 0 20px 0;
}

.work-experience .sec-content .content-right .tech-stack span {
    border: 1px solid #B252BF;
    font-weight: 600;
    padding: 4px 14px;
    border-radius: 20px;
    margin-right: 4px;
}

/* .project .sec-content .content-left .slide {
    width: 100%;
    overflow: hidden;
} */

.project .sec-content .content-left .img-box {
    width: 100%;
    /* height: 452px; */
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    background-color: #fff;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 20px;
}

.project .sec-content .content-left .img-box img {
    max-width: 100%;
    /* height: 100%; */
    margin: 0 auto;
}

.project .sec-content .content-left .slide-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.project .sec-content .content-left .slide-btn  p {
    margin: 0 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.project .sec-content .content-left .slide-btn button {
    cursor: pointer;
}

.project .sec-content .content-left .slide-btn button img {
    width: 14px;
}

.project .sec-content .content-right h3 {
    margin: 40px 0 6px 0;
}

.project .sec-content .content-right p {
    line-height: 1.5;
}

.project .sec-content .content-right .detail {
    margin-top: 16px;
}

.project .sec-content .content-right .detail a {
    color: #B252BF;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 10px;
}

.project .sec-content .content-right .detail a img {
    width: 10px;
    margin-left: 4px;
}

.project .sec-content .content-right .project-info-wrap {
    margin-top: 30px;
}

.project-info-wrap .project-info {
    margin: 14px 0;
}

.project-info-wrap .project-info .info-title {
    border-left: 4px solid #B252BF;
    padding-left: 6px;
    font-weight: 900;
}

.project-info-wrap .project-info .info-text {
    word-break: keep-all;
    margin: 4px 0 0 10px;
    line-height: 1.3;
}

.project-info-wrap .project-info .info-text a {
    color: #3936E5;
    border-bottom: 1px solid #3936E5;
}

.skills .sec-content ul {
    margin-bottom: 30px;
    line-height: 2;
}

.skills .sec-content ul:last-child {
    margin-bottom: 0;
}

.skills .sec-content ul:last-child li:last-child {
    margin-bottom: 0;
}

.skills .sec-content ul li {
    line-height: 1.5;
    list-style: disc;
    margin-left: 14px;
    margin-bottom: 8px;
}

.skills .sec-content ul li::marker {
    color: #B252BF;
}

.education .sec-content .edu-info {
    margin-bottom: 30px;
    line-height: 1.3;
}

.education .sec-content .edu-info:last-child {
    margin-bottom: 0;
}

.education .sec-content .edu-info ul {
    margin-bottom: 6px;
}

.education .sec-content .edu-info ul li {
    line-height: 1.5;
}

.education .sec-content .edu-info p {
    line-height: 1.4;
    margin-top: 14px;
}

.certificate ul {
    margin-bottom: 14px;

}

.certificate ul li {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.7;
}

.certificate ul li:last-child {
    font-size: 1.6rem;
    font-weight: 400;
}

footer {
    margin-top: 40px;
    padding: 40px 0;
    font-size: 1.4rem;
    color: #fff;
    background-color: #B252BF;
    text-align: center;
}

footer .contact {
    margin-bottom: 20px;
}

footer .contact a:first-child {
    margin-right: 6px;
}

footer .contact a img {
    width: 36px;
}

footer p {
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
    line-height: 1.4;
}

/* 태블릿 미디어쿼리 768px 이상 */
 @media screen and (min-width:768px){
    .home {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 100vh;
        background: linear-gradient(0deg, rgba(193,159,210,1) 10%, rgba(214,184,221,1) 100%);
        background-attachment: fixed;
    }

    .home #textWrap {
        width: 75%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10% 15% 12% 5% ;
        z-index: 200;
        text-align: left;
        background: #ffffff50;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 30px;
        box-shadow: inset 0 16px 30px #ffffff86 ;
    }
    
    .home .title {
        font-size: 4.8rem;
        margin-bottom: 20px;
        white-space: nowrap;
        color: #000;
        font-weight: 900;
        overflow: hidden;
        animation: typingAnim 4s steps(50);
    }
    @keyframes typingAnim {
        from {width:0}
        to {width:100%}
      }
      
    .home .sub-title {
        font-size: 3rem;
        color: #000;
        font-weight: 600;
        line-height: 1.2;
    }
    
    .home .intro-text {
        margin-top: 20px;
        font-size: 2rem;
        color: #000;
        word-break: keep-all;
        line-height: 1.6;
    }

    .home #scroll-wrap .scroll-mouse {
        width: 24px;
        position: absolute;
        left: 50%;
        bottom: 9%;
        transform: translate(-50%, -9%);
        z-index: 200;
    }
    
    .home #scroll-wrap p {
        font-size: 1.4rem;
        color: #fff;
        position: absolute;
        left: 50%;
        bottom: 7%;
        transform: translate(-50%, -7%);
        z-index: 200;
    }
    
    .home #scroll-wrap .arrow-down {
        width: 18px;
        position: absolute;
        left: 50%;
        bottom: 4%;
        transform: translate(-50%, -4%);
        z-index: 200;
        animation: motion 0.4s linear 0s infinite alternate;
    }
    
    @keyframes motion {
        0% {bottom: 4%;}
        100% {bottom: 4.5%;}
    }

    .project .sec-content .content-left .img-box {
        width: 100%;
        height: 630px;
        overflow: auto;
        position: relative;
        transition: 0.5s;
        background-color: #fff;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 20px;
    }
 }



/* PC 미디어쿼리 1132px 이상 */
@media screen and (min-width:1132px){
    .sec-wrap {
        padding: 90px 0;
    }

    .sec-title {
        font-size: 5rem;
        margin-bottom: 40px;
    }

    .sec-content h3 {
        font-size: 2.6rem;
        font-weight: 900;
        margin: 0 0 6px 0;
    }
    
    .sec-content ul li {
        font-size: 1.6rem;
        line-height: 1.3;
    }
    
    .sec-content h4 {
        font-size: 2rem;
        font-weight: 900;
        margin: 0 0 8px 0;
        line-height: 1.2;
    }
    
    .sec-content p {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .home {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 100vh;
        background: linear-gradient(0deg, rgba(193,159,210,1) 10%, rgba(214,184,221,1) 100%);
        background-attachment: fixed;
    }
    
    .home #textWrap {
        width: 65%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10% 15% 9% 5% ;
        z-index: 200;
        text-align: left;
        background: #ffffff50;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 30px;
        box-shadow: inset 0 16px 30px #ffffff86 ;
    }
    
    .home .title {
        font-size: 6rem;
        margin-bottom: 20px;
        white-space: nowrap;
        color: #000;
        font-weight: 900;
        overflow: hidden;
        animation: typingAnim 4s steps(50);
    }
    @keyframes typingAnim {
        from {width:0}
        to {width:100%}
      }
      
    .home .sub-title {
        font-size: 4.6rem;
        color: #000;
        font-weight: 600;
        line-height: 1.2;
    }
    
    .home .intro-text {
        margin-top: 20px;
        font-size: 2.2rem;
        color: #000;
        word-break: keep-all;
        line-height: 1.6;
    }
    
    .home img {
        position: absolute;
        bottom: 0;
        width: 100%;
        pointer-events: none;
    }
    
    .home img#starLeft {
        width: 10%;
        position: absolute;
        left: 5%;
        top: 20%;
        transform: translate(-5%, -20%);
    }
    
    .home img#starRight {
        width: 10%;
        position: absolute;
        right: 10%;
        top: 10%;
        transform: translate(-10%, -10%);
    }
    
    .home img#mainCharacter {
        width: 42%;
        left: 92%;
        bottom: 11%;
        transform: translate(-92%, -11%);
        z-index: 60;
    }
    
    .home img#cloudLeft {
        width: 28%;
        position: absolute;
        left: 0;
        bottom: 5%;
        transform: translate(0, -5%);
        z-index: 50;
    }
    
    .home img#cloudRight {
        width: 28%;
        position: absolute;
        right: 0;
        bottom: 5%;
        transform: translate(0, -5%);
        z-index: 50;
    }

    .home #scroll-wrap .scroll-mouse {
        width: 28px;
        position: absolute;
        left: 50%;
        bottom: 9%;
        transform: translate(-50%, -9%);
        z-index: 200;
    }
    
    .home #scroll-wrap p {
        font-size: 1.4rem;
        color: #fff;
        position: absolute;
        left: 50%;
        bottom: 7%;
        transform: translate(-50%, -7%);
        z-index: 200;
    }
    
    .home #scroll-wrap .arrow-down {
        width: 20px;
        position: absolute;
        left: 50%;
        bottom: 4%;
        transform: translate(-50%, -4%);
        z-index: 200;
        animation: motion 0.4s linear 0s infinite alternate;
    }
    
    @keyframes motion {
        0% {bottom: 4%;}
        100% {bottom: 4.5%;}
    }
    
    .work-experience {
        padding-top: 130px;
    }

    .work-experience .sec-content {
        display: flex;
        align-items: flex-start;
    }

    .work-experience .sec-content .content-left {
        width: 20%;
    }

    .work-experience .sec-content .content-right {
        width: 80%;
    }

    .work-experience .sec-content .content-right .work {
        margin-bottom: 40px;
    }

    .work-experience .sec-content:last-child .content-right .work {
        margin-bottom: 0;
    }
    
    .work-experience .sec-content .content-right .work .tech-stack {
        font-size: 1.4rem;
        margin: 24px 0 20px 0;
    }
    
    .work-experience .sec-content .content-right .work .tech-stack span {
        border: 1px solid #B252BF;
        font-weight: 600;
        padding: 4px 14px;
        border-radius: 20px;
        margin-right: 4px;
    }
    
    .project .sec-content {
        display: flex;
        align-items: flex-start;
        height: 100%;
    }

    .project .sec-content .content-left {
        width: 45%;
        height: 100%;
    }

    .project .sec-content .content-left .img-box {
        width: 100%;
        height: 630px;
        overflow: auto;
        position: relative;
        transition: 0.5s;
        background-color: #fff;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 20px;
    }

    .project .sec-content .content-right {
        width: 50%;
        margin-left: 5%;
    }

    .project .sec-content .content-right h3 {
        margin-top: 0;
        margin-bottom: 6px;
    }

    .project .sec-content .content-right .summary {
        margin-top: 20px;
    }

    .project .sec-content .content-right .my-part {
        margin-top: 20px;
    }


    .project .sec-content .content-right .project-info-wrap {
        margin-top: 40px;
    }

    .project .sec-content .content-right .project-info {
        margin: 14px 0;
    }

    .project .sec-content .content-right .project-info:last-child {
        margin-bottom: 0;
    }
    
    .project .sec-content .content-right .project-info .info-title {
        border-left: 4px solid #B252BF;
        padding-left: 6px;
        font-weight: 900;
    }
    
    .sec-content .project-info .info-text {
        word-break: keep-all;
        margin: 4px 0 0 10px;
        line-height: 1.3;
    }

    .certificate .certificate-list {
        display: flex;
        justify-content: space-between;
    }

    .certificate .certificate-list ul li {
        font-size: 2.6rem;
    }

    .certificate .certificate-list ul li:last-child {
        font-size: 1.6rem;
    }

    footer {
        margin-top: 40px;
        font-size: 1.6rem;
        color: #fff;
        background-color: #B252BF;
        text-align: left;
    }

    footer .footer-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    footer .footer-content a:first-child {
        margin-right: 10px;
    }

    footer .contact a img{
        width: 48px;
    }

    footer .footer-content p {
        margin: 0;
    }
}
