@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'NanumSquareNeo';
    /* 수정 필요 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.home {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url('./lilly_homepage/images/mainBg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home h1#title {
    position: absolute;
    z-index: 50;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -28%);
    font-size: 8rem;
    color: #fff;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    font-weight: 900;
    color: #FEBC44;
    text-shadow: 0 0 4px #540a6750 ;
    line-height: 1.1;
}

/* .home h2#subTitle {
    position: absolute;
    z-index: 50;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -38%);
    font-size: 6rem;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
} */

.home .subTitle {
    font-size: 6rem;
    color: #fff;
    font-weight: 600;
}

.home p#text {
    position: absolute;
    z-index: 50;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    font-size: 2rem;
    color: #fff;
    white-space: nowrap;
    line-height: 1.5;
    text-align: center;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home img#planetLeft {
    width: 22%;
    position: absolute;
    top: 25%;
    left: 0;
    transform: translate(0, -25%);
}

.home img#planetRight {
    width: 25%;
    position: absolute;
    top: 25%;
    right: 0;
    transform: translate(0, -25%);
}

.home img#rocket {
    width: 12%;
    position: absolute;
    bottom: 65%;
    right: 55%;
    transform: translate(-55%, -65%);
}

.home img#mainPlanet {
    z-index: 50;
}

.home img#cloud {
    z-index: 100;
}

.sec {
    position: relative;
    z-index: 100;
    padding: 50px;
}

.sec .secWrap {
    /* background-color: #febc44; */
}

.sec h2 {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.sec p {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}